{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Placar -  Interclasse "Juarez Wanderley" - Créditos</title>
  <link rel="stylesheet" href="{% static 'css/placar/creditos.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap" rel="stylesheet">
</head>
<body>

{% include 'menu.html' %}

  <main class="hero">
    <div class="text">
      <img src="{% static 'images/inicio.png' %}" alt="Início">
    </div>

    <div class="bimg">
      <img src="{% static 'images/B.png' %}" alt=": B">
    </div>
  </main>

</body>
</html>
