{% extends 'base.html' %}
{% load static %}

{% block title %}
- Ranking geral
{% endblock %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/placar/ranking.css' %}">
{% endblock %}

{% block content %}

<!-- CONTEÚDO -->
<div class="header-full">
    <img
    src="{{ MEDIA_URL }}campeonato/ranking_geral_header{{ campeonato.ano }}.png"
    alt="Ranking Geral Interclasse {{ campeonato.ano }}"
>
</div>
    <div class="ranking-wrapper">
    <section class="ranking-grid">
        {% for equipe, pontos in ranking %}
        <div class="ranking-item {% if forloop.counter == 1 %}primeiro{% endif %}">
            <span class="posicao">{{ forloop.counter }}
            {% if equipe.logo %}
                <img
                  src="{{ equipe.logo.url }}"
                  alt="Logo {{ equipe.nome }}"
                  style="height: 60px; vertical-align: middle; margin-right: 8px;"
                >
                {% endif %}</span>
            <span class="nome">
                {{ equipe.nome }}
            </span>
            <span class="pontos">{{ pontos }} PTS</span>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}