/* =========================
   RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================
   BODY / FUNDO
========================= */
body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../../images/fundo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* =========================
   HEADER
========================= */
.header-full {
    width: 100%;
}

.header-full img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    z-index: 1;
}

.footer img {
    display: block;
    margin: 0 auto;
}
