{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Placar</title>
    <link rel="stylesheet" href="{% static 'css/placar/menu.css' %}">
</head>
<body>

<header class="navbar">
    <div class="logo">
        <a href="{% url 'home' %}">Placar Interclasse Juarez Wanderley</a>
    </div>

    <button class="menu-toggle" onclick="toggleMenu()">☰</button>

    <nav class="menu">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'creditos' %}">Créditos</a>
        <a href="{% url 'ranking' %}">Ranking</a>
    </nav>
</header>

{% block content %}
{% endblock %}

<script>
function toggleMenu() {
    document.querySelector('.menu').classList.toggle('active');
}
</script>

</body>
</html>