{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placar -  Interclasse "Juarez Wanderley" - Ranking Geral</title>
    <link rel="stylesheet" href="{% static 'css/placar/ranking.css' %}">
</head>
<body>
{% include 'partials/menu.html' %}
<!-- HEADER 100% -->
<header class="header-full">
    <img src="{% static 'images/placar/ranking-header.png' %}" alt="Ranking Geral Interclasse">
</header>
<!-- CONTEÚDO -->
<main class="ranking-wrapper">
    <section class="ranking-grid">
        {% for item in ranking %}
        <div class="ranking-item {% if item.posicao == 1 %}primeiro{% endif %}">
            <span class="posicao">{{ item.posicao }}º</span>
            <span class="nome">{{ item.nome }}</span>
            <span class="pontos">{{ item.pontos }} PTS</span>
        </div>
        {% endfor %}
    </section>
</main>

</body>
</html>
